<!DOCTYPE html>
<html>

<head>
    <title>Student Attention Identifier</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body style="margin:5%  20% 1% 10%;">

    <h1>Student Attention Identifier</h1>
    <div class="video-container">
        <img id="video-feed" alt="Video Feed" height="480px" src="static/image.jpg">
    </div>
    <br>


    <div style="margin-left: 10%;">
        <button id="start-session" onclick="startSession()" class="btn btn-primary">Start Session</button>
        <button id="end-session" onclick="endSessionCombined()" disabled class="btn btn-danger">End Session</button>
        <button id="get-predictions" onclick="get_predictions()" class="btn btn-success">Get Predictions</button>
    </div>

    <script>
        function progressBar() {
            let progressBar = document.getElementById('progress-bar');
            let currentWidth = parseInt(progressBar.style.width);

            if ((currentWidth + 25) == 100) {
                document.getElementById('get-predictions').disabled = false;
                get_predictions();
            }

            let newWidth = currentWidth + 25;

            progressBar.style.width = newWidth + '%';
            progressBar.setAttribute('aria-valuenow', newWidth);
        }

        function get_predictions() {
            fetch("/get_predictions")
                .then(response => response.text())
                .then(data => {
                    document.getElementById('dataframe-container').innerHTML = data;
                })
                .catch(error => {
                    alert("Error fetching dataframe.");
                });
        }

    </script>


    <br>
    <div class="progress" style="width: 80%;">
        <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0"
            aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <audio id="audioPlayer" controls style="display: none;"></audio>
    <div id="predictionResult" style="display: none;"></div>

    <br><br>

    <div id="dataframe-container" style="width: 80%;"></div>


    <script>
        const audioPlayer = document.getElementById('audioPlayer');
        const predictionResult = document.getElementById('predictionResult');
        let audioContext;
        let recorder;

        let placeholder = "static/image.jpg"

        async function startSession() {
            
            document.getElementById('video-feed').src = "{{ url_for('video_feed') }}";

            document.getElementById('start-session').disabled = true;
            document.getElementById('end-session').disabled = false;

            // Start startrecording
            await startRecording();

            // Key Mouse Listener
            fetch("/start_key_scheduler")
                .then(response => response.text())
                .then(data => {
                    console.log("Key scheduler started.");
                    
                })
                .catch(error => {
                    alert("Error starting session.");
                });
            alert("Session started.");

        }


        async function endSessionCombined() {
            document.getElementById('start-session').disabled = false;
            document.getElementById('end-session').disabled = true;

            await stopRecording();

            // End emotion session
            fetch("/end_session_emo")
                .then(response => {
                    response.text();
                    progressBar();
                    console.log("Emotion session ended.");
                })
                .catch(error => {
                    alert("Error exporting emotion session data.");
                });

            // stop key scheduler
            fetch("/stop_key_scheduler")
                .then(response => response.text())
                .then(data => {
                    progressBar();
                    console.log("Key scheduler stopped.");
                })
                .catch(error => console.error('Error fetching data:', error));

            // End awake session
            fetch("/end_session_awake")
                .then(response => {
                    response.text();
                    progressBar();
                    console.log("Awake session ended.");
                })
                .then(data => {
                })
                .catch(error => {
                    alert("Error exporting awake session data.");
                });


            document.getElementById('video-feed').src = placeholder;
        }

        async function startRecording() {

            audioContext = new AudioContext();
            const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
            const input = audioContext.createMediaStreamSource(stream);
            recorder = new Recorder(input);
            recorder.record();
        }

        async function stopRecording() {

            recorder.stop();
            recorder.exportWAV(await function (blob) {
                audioPlayer.src = URL.createObjectURL(blob);
                audioPlayer.style.display = 'block';

                recorder.clear();
                audioContext.close();

                // Create a new File object from the Blob
                const audioFile = new File([blob], 'recorded_audio.wav', { type: 'audio/wav' });

                // Create a new FormData object and append the audio file to it
                const formData = new FormData();
                formData.append('audio', audioFile);

                // Submit the form with the recorded audio
                fetch('/upload', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        progressBar();
                        console.log("Noice prediction received.");
                        // Handle the response as needed
                    })
                    .catch(error => {
                        console.error(error);
                        // Handle the error as needed
                    });
            });
        }

    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="static/recorder.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


</body>

</html>